@model EventManagementApplication.Entities.Concrete.Event
@{
    ViewData["Title"] = "EventSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card mx-auto" style="max-width: 650px;">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Event Details</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title text-center">@Model.Title</h2>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Date: @Model.Date</p>
            <p class="card-text">Time: @Model.StartTime - @Model.EndTime</p>
            <p class="card-text">Type: @Model.Type</p>

            <p class="card-text">
                Status: <span class="@(Model.Status ? "text-success font-weight-bold" : "text-danger font-weight-bold")">
                    @(Model.Status ? "Active" : "Inactive")
                </span>
            </p>
            <p class="card-text">Organizer: @Model.User.FirstName @Model.User.LastName</p>

            <div class="button text-center">
                <a class="btn btn-success" href="#" id="acceptButton">Accept Invitation</a>
                <a class="btn btn-danger" href="#" id="rejectButton">Refuse Invitation</a>
            </div>
            <script>

                // Acccept Button scrpşt
                $("#acceptButton").on("click", function (e) {
                    e.preventDefault();
                    $("form").attr("action", "@Url.Action("AcceptInvitation", "Invitation", new { id = Model.Id })");
                    $("form").submit();
                });

                // Refuse Button script
                $("#rejectButton").on("click", function (e) {
                    e.preventDefault();
                    $("form").attr("action", "@Url.Action("RejectInvitation", "Invitation", new { id = Model.Id })");
                    $("form").submit();
                });
            </script>
        </div>
    </div>
</div>
