@{
    ViewData["Title"] = "AddUsersInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddUsersInvitation</h1>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 p-5">
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }

            <h3>Kullanıcı Listesi</h3>
            <div class="table-container mt-4">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Seç</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.Users)
                        {
                            <tr>
                                <td><input type="checkbox" name="select-user" value="@user.Id"></td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <label>Uygulama İçin Bildirim</label>
            <input type="checkbox" name="appNotif" class="btn btn-primary mt-4" />
            <label>Mail Bildirim</label>
            <input type="checkbox" name="mailNotif" class="btn btn-primary mt-4"/>


            <button class="btn btn-primary mt-4" onclick="selectAll()">Tümünü Seç</button>
            <button class="btn btn-primary mt-4" onclick="selectClear()">Tümünü Temizle</button>
            <button class="btn btn-primary mt-4" onclick="addAllUsers()">Kullanıcıları Davet Et</button>
        </div>
    </div>
</div>






<style>
    .table-container {
        max-height: 400px;
        overflow-y: auto;
    }

</style>

<script>
    function selectAll() {
        const checkboxes = document.getElementsByName("select-user");
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }

    function selectClear() {
        const checkboxes = document.getElementsByName("select-user");
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
    }

    function addAllUsers() {
        const checkboxes = document.getElementsByName("select-user");
        const selectedUsers = [];
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                const userId = checkboxes[i].value;
                selectedUsers.push(userId);
            }
        }

        const invitationId = @ViewBag.InvitationId;

        fetch('/UserInvitationMapping/AddUserInvitationMapping', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userIds: selectedUsers, invitationId: invitationId })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Kullanıcılar başarıyla davet edildi!', data);
            })
            .catch(error => {
                console.error('Bir hata oluştu:', error);
            });
    }
</script>