@model IEnumerable<EventManagementApplication.Entities.Concrete.Event>

<div class="col-lg-9 col-md-8 col-12 p-5">
    <h3>My Accepted Events</h3>
    <div class="row" id="eventContainer">
        @foreach (var item in Model)
        {
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single event Grid -->
                <div class="single-event-grid">
                    <div class="event-img">
                        <a href="/Event/EventSingle/@item.Id">
                            <img src="@item.Image" style="width:400px; height:220px;" alt="#">
                        </a>
                    </div>
                    <div class="event-content">
                        <div class="meta-info">
                            <a class="date mb-3" href="/Event/EventSingle/@item.Id">
                                <i class="lni lni-timer"></i> @item.Date.ToString("dd.MM.yyyy")  @item.StartTime - @item.EndTime
                            </a>
                            <br>
                            <a class="author" href="javascript:void(0)">
                                <i class="lni lni-user"></i> @item.User.FirstName @item.User.LastName
                            </a>
                        </div>
                        <h4>
                            <a href="/Event/EventSingle/@item.Id">
                                @item.Title
                            </a>
                        </h4>
                        <p>
                            @item.SubContent
                        </p>
                        <div class="button">
                            <a href="/Event/EventSingle/@item.Id" class="btn">More</a>  <a class="btn" style="background-color: green; color: white;" disabled>Accepted</a>

                        </div>
                    </div>
                </div>
                <!-- End Single event Grid -->
            </div>
        }
    </div>
</div>
