@model EventManagementApplication.Entities.Concrete.UserDetail




<div class="col-lg-9 col-md-8 col-12">
    <div class="main-content">
        <!-- Start Profile Settings Area -->
        <div class="dashboard-block mt-0 profile-settings-block">
            <h3 class="block-title">Profile Settings</h3>
            <div class="inner-block">
                <div class="image">
                    @if (Model == null)
                    {
                        <img src="https://via.placeholder.com/300x300" alt="#">
                    }
                    else
                    {
                        <img src="@Model.ProfileImagePath" style="width: 300px; height:300px" alt="#">
                    }
                </div>
                <form class="profile-setting-form" method="post" action="@Url.Action("ProfileSettings", "User")">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label>First Name*</label>
                                @Html.TextBox("FirstName", null, new { @type = "text", @required = "required"})
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label>Last Name*</label>
                                @Html.TextBox("LastName", null, new { @type = "text", @required = "required" })
                            </div>
                        </div>
                  
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label>Email Address*</label>
                                @Html.TextBox("Email", null, new { @type = "text", @required = "required" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label>Phone Number*</label>
                                @Html.TextBox("PhoneNumber", null, new { @type = "text", @required = "required" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group upload-image">
                                <label>Profile Image*</label>
                                <input name="file" type="file" placeholder="Upload Image">
                            </div>
                        </div>
                       
                        <div class="col-12">
                            <div class="form-group button mb-0">
                                <button type="submit" class="btn ">Update Profile</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Profile Settings Area -->
       
        
        
        
        <!-- Start Password Change Area -->
        <div class="dashboard-block password-change-block">
            <h3 class="block-title">Change Password</h3>
            <div class="inner-block">
                <form class="default-form-style" method="post" action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Current Password*</label>
                                <input name="current-password" type="password"
                                       placeholder="Enter old password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>New Password*</label>
                                <input name="new-password" type="password"
                                       placeholder="Enter new password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Retype Password*</label>
                                <input name="retype-password" type="password"
                                       placeholder="Retype password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group button mb-0">
                                <button type="submit" class="btn ">Update Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Password Change Area -->
    </div>
</div>